html {
    background-color: #D8D9CF;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    color: #293462;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Brush Script MT', cursive;
    color: #293462;
    font-size: 30px;
}
img {
    height: 200px;
    width: auto;
    border-radius: 30%;
    display: block;
    margin: auto;
    border: 5px solid black;
}

p {
    color: rgb(153, 0, 0);
    font-family: Consolas, monospace;
    font-style: italic;
}

ul {
    font-family: Consolas, monospace;

}

li{
    color: #990000;
    font-family: Consolas, monospace;
}
