html {
    background-color: #ADC4CE;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    color: #900C3F;
    font-size: 50px;
}
ul {
    color: #35155D;
}
a {
    color: #35155D;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}